body{

    background: #201b2c!important;

}

.main-catalogo{

    width: 100vw;
    height: auto;
    min-height: 100vh;
    background: #201b2c;

}

.catalogo{

    color: #f0ffffde;
    box-sizing: border-box;
    width: 100%;
    max-width: 90em;
    margin: auto;

}

.card{

    padding: 1em 0;
    height: 100%;
    min-height: 26em;

}

.img-card{

    opacity: 75%;
    height: 100%;
    max-height: 10em;
    object-fit: contain;
    transition: all 0.1s;

}

.card:hover{

    cursor: pointer;

}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 40em;
    overflow: hidden;
}

.carousel-image {
    width: 100%;
    max-height: 30em;
    object-fit: contain;
}



.img-card:hover{

    opacity: 100%;
    transition: all 0.1s;

}

.pix{

    font-size: 0.6em;

}